.external_invalid_numPlayers_container {
    -fx-background-color: #8B4513;
    -fx-opacity: 1;
    -fx-pref-height: 250;
    -fx-pref-width: 350;
    -fx-min-height: 250;
    -fx-min-width: 350;
    -fx-max-height: 250;
    -fx-max-width: 350;
    -fx-spacing: 10;
}

.internal_vbox_container {
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.75;
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-pref-width: 240;
    -fx-pref-height: 340;
    -fx-min-height: 240;
    -fx-min-width: 340;
    -fx-max-height: 240;
    -fx-max-width: 340;
}

.internal_vbox_container ImageView {
    -fx-pref-width: 90;
    -fx-pref-height: 340;
    -fx-min-height: 90;
    -fx-min-width: 340;
    -fx-max-height: 90;
    -fx-max-width: 340;
}

.internal_vbox_container_label1 {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-text-alignment: center;
}

.internal_vbox_container_label2 {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

.internal_vbox_container Button {
    -fx-background-color: #8B4513;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-pref-height: 30;
    -fx-pref-width: 60;
    -fx-min-height: 30;
    -fx-min-width: 60;
    -fx-max-height: 30;
    -fx-max-width: 60;
}

.internal_vbox_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #800000;
}