#anchor_pane{
    -fx-background-image: url("../images/developed/sfondo2.jpg");
    -fx-border-width: 10px;
    -fx-background-size: 100% 100%;
}



#winner_image_pane{

    -fx-background-image: url("../images/developed/trophy.png");
    -fx-background-size: 100% 100%;
}
#ranking{

    -fx-border-color:  #8B4513;
    -fx-background-size: 100% 100%;
    -fx-background-color: #dab47d;
    -fx-border-width: 5px;
}
