.sfondo
{
    -fx-background-image: url("../images/originals/misc/sfondoParquet.jpg");
    -fx-background-size: 100% 100%;
}
#centralPane
{
    -fx-background-image: url("../images/originals/boards/livingroom.png");
    -fx-background-size: cover;
}



#anchorPane_library1{
    -fx-background-image: url("../images/originals/boards/bookshelf_orth.png");
    -fx-background-size: cover;
}
Pane
{
    -fx-background-size: cover;
}

.texture_0_0
{
    -fx-background-image: url("../images/originals/objectCards/0_0.png");
}
.texture_0_1
{
    -fx-background-image: url("../images/originals/objectCards/0_1.png");
}
.texture_0_2
{
    -fx-background-image: url("../images/originals/objectCards/0_2.png");
}
.texture_1_0
{
    -fx-background-image: url("../images/originals/objectCards/1_0.png");
}
.texture_1_1
{
    -fx-background-image: url("../images/originals/objectCards/1_1.png");
}
.texture_1_2
{
    -fx-background-image: url("../images/originals/objectCards/1_2.png");
}
.texture_2_0 {
    -fx-background-image: url("../images/originals/objectCards/2_0.png");
}

.texture_2_1 {
    -fx-background-image: url("../images/originals/objectCards/2_1.png");
}

.texture_2_2 {
    -fx-background-image: url("../images/originals/objectCards/2_2.png");
}

.texture_3_0 {
    -fx-background-image: url("../images/originals/objectCards/3_0.png");
}

.texture_3_1 {
    -fx-background-image: url("../images/originals/objectCards/3_1.png");
}

.texture_3_2 {
    -fx-background-image: url("../images/originals/objectCards/3_2.png");
}

.texture_4_0 {
    -fx-background-image: url("../images/originals/objectCards/4_0.png");
}

.texture_4_1 {
    -fx-background-image: url("../images/originals/objectCards/4_1.png");
}

.texture_4_2 {
    -fx-background-image: url("../images/originals/objectCards/4_2.png");
}

.texture_5_0 {
    -fx-background-image: url("../images/originals/objectCards/5_0.png");
}

.texture_5_1 {
    -fx-background-image: url("../images/originals/objectCards/5_1.png");
}

.texture_5_2 {
    -fx-background-image: url("../images/originals/objectCards/5_2.png");
}
.library {
    -fx-background-image: url("../images/originals/boards/bookshelf.png");
    
}
.centralGrid
{
    -fx-background-image: url("../images/originals/boards/livingroom.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}

.invisibleCells
{
    -fx-managed: false;
    -fx-visible: false;
}
.common
{
    -fx-background-image: url("../images/originals/commonGoalCards/10.jpg");
    -fx-background-size: 100% 100%;
}
.personal
{
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals2.png");
    -fx-background-size: 100% 100%;
}

.button_container Button:hover
{
    -fx-cursor: hand;
    -fx-background-color: #800000;
}

.vbox_button_container {
    -fx-alignment: center;
    -fx-spacing: 5;
}
.doneButton
{
    -fx-alignment: top_center;
    -fx-background-color: #8B4513;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-border-radius: 15px;
}

.openChatButton
{
    -fx-alignment: bottom_center;
    -fx-background-color: #8B4513;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-border-radius: 15px;
}


.common1 {
    -fx-background-image: url("../images/originals/commonGoalCards/1.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common2 {
    -fx-background-image: url("../images/originals/commonGoalCards/2.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common3 {
    -fx-background-image: url("../images/originals/commonGoalCards/3.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common4 {
    -fx-background-image: url("../images/originals/commonGoalCards/4.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common5 {
    -fx-background-image: url("../images/originals/commonGoalCards/5.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common6 {
    -fx-background-image: url("../images/originals/commonGoalCards/6.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common7 {
    -fx-background-image: url("../images/originals/commonGoalCards/7.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common8 {
    -fx-background-image: url("../images/originals/commonGoalCards/8.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common9 {
    -fx-background-image: url("../images/originals/commonGoalCards/9.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common10 {
    -fx-background-image: url("../images/originals/commonGoalCards/10.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common11 {
    -fx-background-image: url("../images/originals/commonGoalCards/11.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common12 {
    -fx-background-image: url("../images/originals/commonGoalCards/12.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}


.personal1 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}

.personal2 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals2.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal3 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals3.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal4 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals4.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal5 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals5.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal6 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals6.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal7 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals7.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal8 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals8.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal9 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals9.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal10 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals10.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal11 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals11.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal12 {
    -fx-background-image: url("../images/originals/personalGoalCards/Personal_Goals12.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}

.point8{
    -fx-background-image: url("../images/originals/pointCards/scoring_8.jpg");
    -fx-background-size: 100% 100%;
}
.point6{
    -fx-background-image: url("../images/originals/pointCards/scoring_8.jpg");
    -fx-background-size: 100% 100%;
}
.point4{
    -fx-background-image: url("../images/originals/pointCards/scoring_8.jpg");
    -fx-background-size: 100% 100%;
}
.point2{
    -fx-background-image: url("../images/originals/pointCards/scoring_8.jpg");
    -fx-background-size: 100% 100%;
}
.point_invisible{
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;
}
.centralPointCard_1
{
    -fx-background-image: url("../images/originals/pointCards/endGame/endgame_1.jpg");
    -fx-background-size: 100% 100%;
}