#anchor_pane{

    -fx-background-image: url("../images/originals/misc/sfondoParquet.jpg");
    -fx-background-size: 100% 100%;
}

#title_label{

    -fx-font-weight: bold;
    -fx-text-fill: #331a00;
}

#description_label{

    -fx-text-fill: #994d00;
    -fx-wrap-text: true;
    -fx-text-overrun: ellipsis;
}

#sfondo_description{

    -fx-background-image: url("../images/sfondo_descrizione.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}

#picture_pane{


}

#biggest_pane{


}

.common0 {
    -fx-background-image: url("../images/originals/commonGoalCards/0.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common1 {
    -fx-background-image: url("../images/originals/commonGoalCards/1.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common2 {
    -fx-background-image: url("../images/originals/commonGoalCards/4.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common3 {
    -fx-background-image: url("../images/originals/commonGoalCards/3.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common4 {
    -fx-background-image: url("../images/originals/commonGoalCards/2.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common5 {
    -fx-background-image: url("../images/originals/commonGoalCards/5.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common6 {
    -fx-background-image: url("../images/originals/commonGoalCards/6.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common7 {
    -fx-background-image: url("../images/originals/commonGoalCards/7.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common8 {
    -fx-background-image: url("../images/originals/commonGoalCards/8.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common9 {
    -fx-background-image: url("../images/originals/commonGoalCards/9.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common10 {
    -fx-background-image: url("../images/originals/commonGoalCards/10.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.common11 {
    -fx-background-image: url("../images/originals/commonGoalCards/11.jpg");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}