.external_invalid_port_container {
    -fx-background-color: #8B4513;
    -fx-opacity: 1;
    -fx-pref-height: 200;
    -fx-pref-width: 300;
}

.internal_vbox_container {
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.75;
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-pref-width: 190;
    -fx-pref-height: 270;
}

.internal_vbox_container ImageView {
    -fx-pref-height: 70;
    -fx-pref-width: 290;
}

.internal_vbox_container_label1 {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

.internal_vbox_container_label2 {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}

.internal_vbox_container Button {
    -fx-background-color: #8B4513;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.internal_vbox_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #800000;
}

.internal_form_container_input_username {
    -fx-text-fill: #000000;
    -fx-max-width: 250;
}
