.invalid_username_container {
    -fx-background-image: url("images/originals/PublisherMaterial/Display_3.jpg");
    -fx-background-position: center center;
    -fx-background-size: 900 700;
    /*-fx-background-size: cover;*/
    -fx-background-repeat: no-repeat;
}


.external_options_container {
    -fx-background-color: #8B4513;
    -fx-opacity: 1;
}

.external_invalid_port_container {
    -fx-background-color: #8B4513;
    -fx-opacity: 1;
}

.internal_vbox_container {
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.75;
    -fx-spacing: 10;
    -fx-alignment: top-center;
}

.internal_vbox_container_label1 {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

.internal_vbox_container_label2 {
    -fx-text-fill: #ff0000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.internal_vbox_container Button {
    -fx-background-color: #8B4513;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.internal_vbox_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #800000;
}

.internal_form_container_input_username {
    -fx-text-fill: #000000;
    -fx-max-width: 250;
}