#library_pane
{
    -fx-background-image: url("../images/originals/boards/bookshelf.png");
    -fx-background-size: 100% 100%;
}

#label_pane{

    -fx-background-color: #c68c53;
}

#username_label
{
    -fx-background-color: #996600;
    -fx-background-radius: 30%;
    -fx-background-color: linear-gradient(to right, #cc9838, #e0ca88);
}

#library_gridPane
{

}

.texture_0_0
{
    -fx-background-image: url("../images/originals/objectCards/0_0.png");
}
.texture_0_1
{
    -fx-background-image: url("../images/originals/objectCards/0_1.png");
}
.texture_0_2
{
    -fx-background-image: url("../images/originals/objectCards/0_2.png");
}
.texture_1_0
{
    -fx-background-image: url("../images/originals/objectCards/1_0.png");
}
.texture_1_1
{
    -fx-background-image: url("../images/originals/objectCards/1_1.png");
}
.texture_1_2
{
    -fx-background-image: url("../images/originals/objectCards/1_2.png");
}
.texture_2_0 {
    -fx-background-image: url("../images/originals/objectCards/2_0.png");
}

.texture_2_1 {
    -fx-background-image: url("../images/originals/objectCards/2_1.png");
}

.texture_2_2 {
    -fx-background-image: url("../images/originals/objectCards/2_2.png");
}

.texture_3_0 {
    -fx-background-image: url("../images/originals/objectCards/3_0.png");
}

.texture_3_1 {
    -fx-background-image: url("../images/originals/objectCards/3_1.png");
}

.texture_3_2 {
    -fx-background-image: url("../images/originals/objectCards/3_2.png");
}

.texture_4_0 {
    -fx-background-image: url("../images/originals/objectCards/4_0.png");
}

.texture_4_1 {
    -fx-background-image: url("../images/originals/objectCards/4_1.png");
}

.texture_4_2 {
    -fx-background-image: url("../images/originals/objectCards/4_2.png");
}

.texture_5_0 {
    -fx-background-image: url("../images/originals/objectCards/5_0.png");
}

.texture_5_1 {
    -fx-background-image: url("../images/originals/objectCards/5_1.png");
}

.texture_5_2 {
    -fx-background-image: url("../images/originals/objectCards/5_2.png");
}