#anchor_pane{

    -fx-background-image: url("../images/originals/misc/sfondoParquet.jpg");
    -fx-background-size: 100% 100%;
}

#title_label{

    -fx-font-weight: bold;
    -fx-text-fill: #331a00;
}

.personal1 {
    -fx-background-image: url("../images/originals/personalGoalCards/0.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}

.personal2 {
    -fx-background-image: url("../images/originals/personalGoalCards/11.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal3 {
    -fx-background-image: url("../images/originals/personalGoalCards/4.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal4 {
    -fx-background-image: url("../images/originals/personalGoalCards/3.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal5 {
    -fx-background-image: url("../images/originals/personalGoalCards/1.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal6 {
    -fx-background-image: url("../images/originals/personalGoalCards/10.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal7 {
    -fx-background-image: url("../images/originals/personalGoalCards/8.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal8 {
    -fx-background-image: url("../images/originals/personalGoalCards/9.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal9 {
    -fx-background-image: url("../images/originals/personalGoalCards/6.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal10 {
    -fx-background-image: url("../images/originals/personalGoalCards/5.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal11 {
    -fx-background-image: url("../images/originals/personalGoalCards/2.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}
.personal12 {
    -fx-background-image: url("../images/originals/personalGoalCards/7.png");
    -fx-background-size: 100% 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 2, 2, 0, 0);
    -fx-translate-y: -2px;
}